<div class="pane panel-primary">
  <div class="panel-heading">
    <h2>Caretakers List</h2>
  </div>
  <h1>{{message}}</h1>
  <div class="panel-body">
    <button class="btn btn-success" (click)="toAddCaretaker()">Add Caretaker</button>
    <br>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Birthdate</th>
        <th>Gender</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let caretaker of caretakers | async">
        <td>{{caretaker.name}}</td>
        <td>{{caretaker.address}}</td>
        <td>{{caretaker.birthDate}}</td>
        <td>{{caretaker.gender}}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteCaretaker(caretaker.id)">Delete</button>
          <button class="btn btn-success" (click)="toUpdateCaretaker(caretaker.id)" style="margin-left: 10px;">Update</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
