<h3>Add Patient</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="patient.name" name="name">
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      <input type="text" class="form-control" id="address" required [(ngModel)]="patient.address" name="address">
    </div>
    <div class="form-group">
      <label for="birthDate">Birth Date</label>
      <input type="text" class="form-control" id="birthDate" required [(ngModel)]="patient.birthDate" name="birthDate" placeholder="yyyy-mm-dd">
    </div>
    <!--<mat-form-field>-->
      <!--<mat-label>Date</mat-label>-->
      <!--<input  [value]="date" matInput [matDatepicker]="myPicker"  placeholder="date">-->
      <!--<mat-datepicker-toggle  matSuffix [for]="myPicker"></mat-datepicker-toggle>-->
      <!--<mat-datepicker #myPicker></mat-datepicker>-->
    <!--</mat-form-field>-->
    <div class="form-group">
      <label>Gender</label>
      <select name="gender" class="form-control" [(ngModel)]="patient.gender" required>
        <option value="" selected disabled>--Select--</option>
        <option value="M">Male</option>
        <option value="F">Female</option>
      </select>
    </div>
    <div>
      <label>Caretaker </label>
      <select class="form-control" [(ngModel)]="patient.caretaker" name="selectedCaretaker" required>
        <option value="" selected disabled>--Select--</option>
        <option *ngFor="let c of caretakers" [value]="c.name">{{c.name}}</option>
      </select>
    </div>
    <br>
    <button class="btn btn-success" type="submit">Add</button>
  </form>
</div>
