<div class="pane panel-primary">
  <div class="panel-heading">
    <h2>Patient {{patient.name}} Details</h2>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item">Name: {{patient.name}}</li>
      <li class="list-group-item">Address: {{patient.address}}</li>
      <li class="list-group-item">Birth Date: {{patient.birthDate}}</li>
      <li class="list-group-item">Gender: {{patient.gender}}</li>
    </ul>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let medicationPlan of patient.medicationPlans">Medication Plan Duration: {{medicationPlan.treatmentPeriod}}
        <ul class="list-group">
         <li class="list-group-item" *ngFor="let medication of medicationPlan.receivedMedications">Medication: {{medication.name}} - Dosage/day: {{medication.intakePerDay}} - Side Effects: {{medication.sideEffects}}</li>
       </ul>
      </li>
    </ul>
  </div>
</div>
