<div class="pane panel-primary">
  <div class="panel-heading">
    <h2>Patient List</h2>
  </div>
  <p>{{messageFromServer}}</p>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Birthdate</th>
        <th>Gender</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let patient of patients | async">
        <td>{{patient.name}}</td>
        <td>{{patient.address}}</td>
        <td>{{patient.birthDate}}</td>
        <td>{{patient.gender}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
