<div *ngIf="info.token; else loggedOut">
  <h5 class="text-primary">Information</h5>
  <p>
    <strong>Username: </strong> {{info.username}}<br>
    <strong>Role: </strong> {{info.authorities}}<br>
  </p>
  <button class="btn btn-secondary" (click)="logout()">Logout</button>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>
