<div class="pane panel-primary">
  <div class="panel-heading">
    <h2>Medication List</h2>
  </div>
  <div class="panel-body">
    <button class="btn btn-success" (click)="toAddMedication()">Add Medication</button>
    <br>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Side Effects</th>
        <th>Dosage/Day</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let medication of medications | async">
        <td>{{medication.name}}</td>
        <td>{{medication.sideEffects}}</td>
        <td>{{medication.intakePerDay}}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteMedication(medication.id)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
