<div class="container">
  <button type="submit" class="btn btn-primary" (click)="toPatients()">Patients</button>
  <hr>
  <button class="btn btn-primary" type="submit" (click)="toCaretakers()">Caretakers</button>
  <hr>
  <button class="btn btn-primary" type="submit" (click)="toMedication()">Medication</button>
  <hr>
  <button class="btn btn-primary" type="submit" (click)="toCharts()">Show Patient Activities</button>
</div>
