<h3>Add Medication Plan</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="treatmentPeriod">Treatment Period</label>
      <input type="text" class="form-control" id="treatmentPeriod" required [(ngModel)]="medicationPlan.treatmentPeriod" name="name">
    </div>
    <ng-select [items]="medications"
               bindLabel="name"
               placeholder="Select Item"
               appendTo="body"
               multiple="true"
               name="meds"
               [(ngModel)]="selectedMedications">
    </ng-select>

    <br>
    <button class="btn btn-success" type="submit">Add</button>
  </form>
</div>
