<div class="pane panel-primary">
  <div class="panel-heading">
    <h2>Patient List</h2>
  </div>
  <div class="panel-body">
    <button class="btn btn-success" (click)="toAddPatient()">Add Patient</button>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Birthdate</th>
        <th>Gender</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let patient of patients | async">
        <td>{{patient.name}}</td>
        <td>{{patient.address}}</td>
        <td>{{patient.birthDate}}</td>
        <td>{{patient.gender}}</td>
        <td>
          <button class="btn btn-danger" (click)="deletePatient(patient.id)">Delete</button>
          <button class="btn btn-success" (click)="toUpdatePatient(patient.id)" style="margin-left: 10px;">Update</button>
          <button class="btn btn-primary" (click)="toCreateMedicationPlan(patient.id)" style="margin-left: 10px;">Create Medication Plan</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
