<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">crisan</a>
    </div>
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
      <li *ngIf="authority === 'doctor'" class="nav-item">
        <a class="nav-link" routerLink="doctor">Doctor</a>
      </li>
      <li *ngIf="authority === 'caretaker'" class="nav-item">
        <a class="nav-link" routerLink="caretaker/patients">Caretaker</a>
      </li>
      <li *ngIf="authority === 'patient'" class="nav-item">
        <a class="nav-link" routerLink="patient">Patient</a>
      </li>
      <li *ngIf="!authority" class="nav-item">
        <a routerLink="auth/login" class="nav-link">Login</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
