<h3>Add Caretaker</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="caretaker.name" name="name">
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      <input type="text" class="form-control" id="address" required [(ngModel)]="caretaker.address" name="address">
    </div>
    <div class="form-group">
      <label for="birthDate">Birth Date</label>
      <input type="text" class="form-control" id="birthDate" required [(ngModel)]="caretaker.birthDate" name="birthDate">
    </div>
    <div class="form-group">
      <label>Gender</label>
      <select name="gender" class="form-control" [(ngModel)]="caretaker.gender" required>
        <option value="" selected disabled>--Select--</option>
        <option value="M">Male</option>
        <option value="F">Female</option>
      </select>
    </div>
    <br>
    <button class="btn btn-success" type="submit">Add</button>
  </form>
</div>
