<div>
  <ng-select [items]="days"
             bindLabel="day"
             placeholder="Select Day"
             [(ngModel)]="selectedDay"
             (click)="generateChart(selectedDay)">
  </ng-select>
  <div class="chart" *ngIf="check">
    <canvas baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [legend]="pieChartLegend">
    </canvas>
  </div>
  <div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Id</th>
        <th>Activity</th>
        <th>Duration</th>
        <th>Day</th>
        <th>Recommendation</th>
        <th>Abnormal</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let a of dailyActivities">
        <td>{{a.id}}</td>
        <td>{{a.type}}</td>
        <td>{{a.duration}}</td>
        <td>{{a.day}}</td>
        <td>{{a.recommend}}</td>
        <td>{{a.normal}}</td>
        <td>
          <input type="checkbox" [(ngModel)]="a.normal"/>
        </td>
        <td>
          <input type="text" *ngIf="a.normal === true" [(ngModel)]="a.recommend" placeholder="Recommendation">
          <button class="btn btn-primary" *ngIf="a.normal === true" (click)="sendActivity(a)">Add Recommendation</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
