<h3>Update Patient {{patient.name}}</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="patient.name" name="name">
    </div>
    <div class="form-group">
      <label for="Address">Address</label>
      <input type="text" class="form-control" id="address" required [(ngModel)]="patient.address" name="address">
    </div>
    <button class="btn btn-success" type="submit">Update</button>
  </form>
</div>
<div [hidden]="!submitted">
  <h4>Patient added successfully!</h4>
</div>
