<h3>Add Medication</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="medication.name" name="name">
    </div>
    <div class="form-group">
      <label for="sideEffects">Side Effects</label>
      <input type="text" class="form-control" id="sideEffects" required [(ngModel)]="medication.sideEffects" name="sideEffects">
    </div>
    <div class="form-group">
      <label for="dosage">Dosage/Day</label>
      <input type="text" class="form-control" id="dosage" required [(ngModel)]="medication.intakePerDay" name="dosage">
    </div>
    <br>
    <button class="btn btn-success" type="submit">Add</button>
  </form>
</div>
